---
import Section from "./../Section.astro"
---

<Section>
  <div
    class="w-full bg-[#17C3B2] h-auto md:h-72 rounded-[50px] px-2 md:px-10 py-20 md:py-44 text-center flex flex-col items-center justify-center">
    <p class="text-5xl md:text-5xl mb-4 text-white font-extrabold">Metodo de trabajo</p>
    <p class="text-white mb-6 text-2xl w-full md:w-2/4">
      Crea junto con nosotros el software que lleve la experiencia de tus clientes y empleados a otro nivel
    </p>
    <a href="#"
      class="inline-flex items-center text-white bg-[#FFCB77] hover:bg-orange-300 focus:ring-4 focus:outline-none focus:ring-orange-200 font-medium rounded-lg text-base px-6 py-3.5 text-center">Como
      trabajamos</a>
  </div>
</Section>
