---
import Layout from "../layouts/Layout.astro"
import Section from "../components/Section.astro"
import Title from "../components/Title.astro"


---

<Layout title="Sobre nosotros">
  <main class="md:mx-52 mx-1">
    <Section>
      <Title textAlign="text-center">Sobre Nosotros</Title>

      <p class="font-bold text-lg mt-10 px-14">Nosotros</p>
      <p class="text-gray-500 px-14">
        Somos una empresa venezolana, que ejecuta proyectos tecnológicos, nuestra propuesta incluye desarrollo
        de plataformas administrativas personalizadas para cualquier tipo de empresa o negocio
        que quiera emprender en el mundo tecnológico.
      </p>

      <p class="font-bold text-lg mt-10 px-14">Misión</p>
      <p class="text-gray-500 px-14">
        Diseñar soluciones y herramientas tecnológicas de alta calidad para distintas empresas, utilizando las
        tecnologías más avanzadas para garantizar el cumplimiento de las exigencias y necesidades de nuestros clientes.
      </p>

      <p class="font-bold text-lg mt-10 px-14">Vision</p>
      <p class="text-gray-500 px-14">
        Ser la primera opción en servicios de diseño y desarrollo de software para atender las necesidades de distintos
        sectores
        empresariales así como también crear distintos programas para ayudar al proceso de automatización y
        digitalización de
        procesos empresariales.
      </p>
    </Section>
  </main>
</Layout>
